/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Inter, sans-serif;
  background:#070707;
  color:white;
  overflow-x:hidden; /* MUHIM */
}

/* HEADER */
.bosh-qism{
  max-width:1200px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
}

.belgi{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:20px;
}

.belgi-quti{
  width:30px;
  height:30px;
  background:#f5a300;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  color:black;
}

.navigatsiya{
  display:flex;
  gap:30px;
}

.navigatsiya a{
  color:#9a9a9a;
  text-decoration:none;
}

.sinov-tugma{
  background:#f5a300;
  border:none;
  padding:10px 18px;
  border-radius:8px;
}

/* HERO */
.asosiy-bo‘lim{
  min-height:100vh; /* MUHIM */
  display:flex;
  align-items:center;
}

.idish{
  max-width:1200px;
  width:100%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}

/* LEFT */
.chap-bo‘lim{
  width:500px;
}

.chap-bo‘lim h1{
  font-size:60px;
  margin-bottom:20px;
}

.chap-bo‘lim span{
  color:#f5a300;
}

.chap-bo‘lim p{
  color:#9a9a9a;
  margin-bottom:20px;
}

.tugmalar{
  display:flex;
  gap:15px;
}

.asosiy-tugma{
  background:#f5a300;
  border:none;
  padding:14px 25px;
  border-radius:10px;
}

.ikkinchi-tugma{
  border:1px solid #2a2a2a;
  background:transparent;
  color:white;
  padding:14px 25px;
  border-radius:10px;
}

/* RIGHT */
.o‘ng-bo‘lim{
  width:400px;
}

.kartochka{
  background:#121212;
  border:1px solid #2a2a2a;
  border-radius:20px;
  padding:20px;
}

/* FEATURES */
.features{
  padding:100px 20px;
}

.column{
  flex-direction:column;
  align-items:center;
}

.features-title{
  font-size:40px;
  text-align:center;
  margin-bottom:20px;
}

.features-sub{
  max-width:600px;
  text-align:center;
  color:#9a9a9a;
}

.features-grid{
  width:100%;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  margin-top:50px;
}

/* kartalar */
.f-card{
  background:#121212;
  border:1px solid #2a2a2a;
  border-radius:20px;
  padding:25px;
}

/* qator tashlash */
.f-card:nth-child(n+4){
  margin-top:20px;
}

/* yon bo‘shliq */
.f-card:not(:nth-child(3n)){
  margin-right:20px;
}

.f-icon{
  width:45px;
  height:45px;
  background:#1f1f1f;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:10px;
  color:#f5a300;
  margin-bottom:15px;
}

.f-card p{
  color:#9a9a9a;
  font-size:14px;
}
