body{
  background-size: cover;
  background-image: url("https://avatars.mds.yandex.net/i?id=3e0b25ecc7d044b4abb3073949666346318f3fc3-16445653-images-thumbs&n=13");
}
.mers{
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bmw1{
    width: 500px;
  height: 450px;
  border-radius: 8px;
  margin-top:20px;
  backdrop-filter: blur(100px);
}
.bmw2{
      width: 500px;
  height: 450px;
  border-radius: 8px;
  margin-top:20px;
  backdrop-filter: blur(100px);
}
.bmw3{
      width: 500px;
  height: 450px;
  border-radius: 8px;
  margin-top:20px;
  backdrop-filter: blur(100px);
}
.bmw1 .tuning1{
    width: 350px;
  height: 200px;
  border-radius: 20px;
}
.bmw1 .tuning2{
      width: 200px;
  height: 100px;
  border-radius: 20px;
}
.moyka1{
  font-size: 20px;
}
.bmw2 .tuning3{
      width: 350px;
  height: 200px;
  border-radius: 20px;
}
.bmw2 .tuning4{
       width: 200px;
  height: 100px;
  border-radius: 20px;
}
.moyka2{
  font-size: 20px;
}
.bmw3 .tuning5{
        width: 350px;
  height: 200px;
  border-radius: 20px;
}
.bmw3 .tuning6{
        width: 200px;
  height: 100px;
  border-radius: 20px;
}
.moyka3{
  font-size: 20px;
}

.bmw1:hover {
  border: none;
  box-shadow: 0 0 20px green;
  transform: scale(1.01);
 }
.bmw2:hover {
  border: none;
  box-shadow: 0 0 20px gold;
  transform: scale(1.01);
 }
.bmw3:hover {
  border: none;
  box-shadow: 0 0 20px red;
  transform: scale(1.01);
 }
