.fa-facebook{
  color: blue;
  font-size: 50px;
}
img{
  width: 50px;
  height: 50px;
}
.fa-phone{
  color: goldenrod;
  font-size: 50px;
}
.fa-heart{
  color: red;
  font-size: 50px;
}
.fa-flag{
  color: olivedrab;
  font-size: 50px;
}
img{
 width: 50px;
  height: 50px;
}
.fa-instagram{
  color: deeppink;
  font-size: 50px;
}
.fa-fire{
  font-size: 50px;
}
.fa-circle{
  color:orange;
 font-size: 50px;
}
.fa-brands{
  color:gold;
  font-size: 50px;
}
.fa-mobile{
  color: #555555;
  font-size: 50px;
}
.fa-alarm-clock{
  color: #74C0FC;
  font-size: 50px;
}
