*{
  margin: 0;
  padding: 0;
}
body{
  height: 500vh;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: red;
}
.menu{
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  top: 0;
}




































































